#moulinette-drop {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 400px;
  z-index: 8000000000000000000;
  background:rgba(255, 255, 0, 0.3);
  display: none;
}

.mtteInstructions {
  font-size: 12px;
  position: relative;
  margin: 10px;
  padding: 5px 15px;
  width: 300px;
  background-color: white;
  border: 1px solid #444;
}

#moulinette-panel {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 400px;
  z-index: 9000000000000000000;
  border-left: 2px solid #ddd;
  background-color: #DFDDD1;
}

#moulinette-panel .asset {
  background-color: red;
  width: 100px;
  height: 100px;
  cursor: grab;
}

#moulinette-panel h1 {
  font-size: 28px;
  font-family: Sans-serif;
  margin-left: 70px;
  margin-top: 18px;
}

#moulinette-panel .mtteLogo {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 48px;
}

#moulinette-panel .mtteActions {
  position: absolute;
  top: 15px;
  right: 15px;
  display: none;
  background:rgba(255, 255, 0, 0.3);
}

#moulinette-panel .mtteActions img {
  width: 48px;
}

#moulinette-panel .mtteContent {
  margin-top: 25px;
  height: 100%;
}

#moulinette-panel #mtteSearch {
  margin: 0px 10px;
  width: 300px;
}

#mtteAssets {
  position: fixed;
  right: 5px;
  top: 120px;
  bottom: 35px;
  width: 390px;

  overflow-x: "hidden";
  overflow-y: auto;
}

#mtteAssets .tileres {
  display: inline-flex;
  cursor: grab;
  position: relative;
  margin: 2px;
}

#mtteStats {
  position: fixed;
  right: 30px;
  bottom: 2px;
}

#moulinette-preview {
  z-index: 8000000000000000000;
  background-color: #DFDDD1;
  border: 2px solid #543c24;
  width: 300px;
  height: 500px;
  padding: 20px;

  position: absolute;
  top: 10%;
  left: 50%;
  margin: 0px 0 0 -170px;

  display: none;
}

#moulinette-preview img {
  margin: 10px 0px;
  max-height: 300px;
}

#moulinette-preview .mtteInfo {
  font-size: 14px;
  margin: 0px;
  padding: 0px;
  line-height: 1;
}

#moulinette-preview .mtteTitle {
  font-weight: bold;
  line-height: 1.1;
  height: 30px;
}

#moulinette-preview .mtteAbout {
  margin-bottom: 10px;
  font-style: italic;¨
}

#moulinette-preview .mtteClose {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.mtteWarning {
  color: darkred;
}
