
.mtteInstructions {
  font-size: 12px;
  position: relative;
  margin: 10px;
  padding: 5px 15px;
  width: 300px;
  background-color: white;
  border: 1px solid #444;
}


#mtteTabs {
  margin-left: 70px;
  border-bottom: 1px solid #bbb;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#mtteTabs span {
  font-size: 16px;
  padding: 0px 10px;
  color: black;
  cursor: pointer;
}

#mtteTabs span:hover {
  text-decoration: underline;
}

#mtteTabs span.active {
  cursor: default;
  font-weight: bold;
  font-size: 20px;
  color: #ff6400;
}

#mtteTabs span.active:hover {
  text-decoration: none;
}

#mtteStats {
  position: fixed;
  right: 30px;
  bottom: 2px;
}

#mtteLinks
{
  position: fixed;
  right: 270px;
  bottom: 2px;
}

.mtteWarning {
  color: darkred;
}