#moulinette-panel {
  all: revert;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 450px;
  padding-left: 5px;
  z-index: 9000000000000000000;
  background-color: #DFDDD1;

  select { all: revert; }
  input { all: revert; }

  .resize-handle {
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    border-right: 2px solid black;
    background-color: #888;
    cursor: ew-resize;
  }

  .mtteContent {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    height: 100%;
    padding: 0px 5px;
    
    &.mtteBrowse {
      display: none;
    }
  }

  img {
    color: #111;
    border: 0px;
  }

  h1 {
    color: #666;
    font-size: 20px;
    font-family: Sans-serif;
    margin-left: 36px;
    margin-top: 9px;
    margin-bottom: 10px;
    border: 0px;
  }

  .mtteLogo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 24px;
  }

  .mtteSearchOptions {
    display: flex;
    flex-direction: column;
    width: 100%;

    .searchbar {
      display: flex;
      align-items: center;
      width: 100%;

      #mtteSearch {
        flex-grow: 1;
      }

      .mtteOptions {
        display: flex; 
        flex-wrap: nowrap;
        margin-left: 5px;
        width: 50px;
      }
        
    }
  }

  .mtteSearchFilters {
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 3px;
  }

  #mtteTypes {
    margin-left: 15px;
  }

  select#mttePacks {
    display: none;
  }

  .mtteInstructions {
    font-size: 12px;
    position: relative;
    margin: 10px;
    padding: 5px 15px;
    width: 300px;
    background-color: white;
    border: 1px solid #444;
  }

  .mtteFooter {
    display: flex;
    height: 20px;

    #mtteLinks
    {
      flex-grow: 1;
    }
  }
  
  .mtteWarning {
    width: 100%;
    color: darkred;
    padding: 3px 0px;
    border-top: 1px dotted #555;
    border-bottom: 1px dotted #555;
  }
}


@media (prefers-color-scheme: dark) {
  #moulinette-panel {
    background-color: #333;
    border: 2px solid #888;
  } 
}